PORT=
MONGODB_URL=
JWT_SECRET_KEY=
REFRESH_JWT_SECRET_KEY=
CLOUD_NAME=
API_KEY_CLOUD=
API_SECRET_CLOUD=
ADMIN_NAME=
ADMIN_PHONE=
ADMIN_EMAIL=
ADMIN_PASSWORD=
PORT_MAIL=
EMAIL_USER=
EMAIL_PASSWORD=
HOST=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=